button {
  margin: 10px;
  padding: 5px;
}
span {
  word-break: break-all;
}

.pri-1 {
  color: red;
}
.pri-2 {
  color: green;
}
.pri-3 {
  color: blue;
}
.pri-4 {
  color: pink;
}
.pri-5 {
  color: black;
}